In [ ]:
import pandas as pd 
import sys
import os

sys.path.append(os.path.abspath(".."))

from src import config


df_1= pd.read_excel(os.path.join(config.RAW_DATA_PATH, "earth_day_tweets_sentiment_50k_(1).xlsx"))
#apri config e segui raw data path 
# se cambio nome cartella devo cambiarlo dappertutto mentre se faccio cosi mi basta modificare config così si cambia dappertutto

df_2= pd.read_excel(os.path.join(config.RAW_DATA_PATH, "earth_day_tweets_sentiment_50k_(2).xlsx"))

           textID                                               text sentiment
0      cb774db0d1                I`d have responded, if I were going   neutral
1      549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2      088c60f138                          my boss is bullying me...  negative
3      9642c003ef                     what interview! leave me alone  negative
4      358bd9e861   Sons of ****, why couldn`t they put them on t...  negative
...           ...                                                ...       ...
27476  4eac33d1c0   wish we could come see u on Denver  husband l...  negative
27477  4f4c4fc327   I`ve wondered about rake to.  The client has ...  negative
27478  f67aae2310   Yay good for both of you. Enjoy the break - y...  positive
27479  ed167662a5                         But it was worth it  ****.  positive
27480  6f7127d9d7     All this flirting going on - The ATG smiles...   neutral

[27481 rows x 3 columns]