In [2]:
import pandas as pd #va messo solo una volta
pd.set_option('display.max_colwidth', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
df = pd.read_excel(r"C:\Users\PC\Documents\3 anno\Lab_sistemi_informativi\Lab\Data\Raw\generic_27k.xlsx")
df

,textID,text,sentiment
0,cb774db0d1,"I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,negative
2,088c60f138,my boss is bullying me...,negative
3,9642c003ef,what interview! leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on the releases we already bought",negative
...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband lost his job and can`t afford it,negative
27477,4f4c4fc327,"I`ve wondered about rake to. The client has made it clear .NET only, don`t force devs to learn a new lang #agile #ccnet",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - you probably need it after such hectic weekend Take care hun xxxx,positive
27479,ed167662a5,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles. Yay. ((hugs)),neutral

In [5]:
df.shape

(27481, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     27481 non-null  object
 1   text       27480 non-null  object
 2   sentiment  27481 non-null  object
dtypes: object(3)
memory usage: 644.2+ KB

In [7]:
df.describe()

            textID            text sentiment
count        27481           27480     27481
unique       27481           27476         3
top     6f7127d9d7  Thx 4 sharing!   neutral
freq             1               2     11118

In [8]:
#n di duplicates
duplicate = df.duplicated().sum()
print(duplicate)

0

In [9]:
df_nodup = df.drop_duplicates()
print(df_nodup.shape)

(27481, 3)

In [10]:
#% di missing
missing_values = df_nodup.isnull().sum()/len(df_nodup)
print(missing_values)

textID       0.000000
text         0.000036
sentiment    0.000000
dtype: float64

In [11]:
df_nodup["sentiment"].value_counts(normalize=True)

sentiment
neutral     0.404570
positive    0.312288
negative    0.283141
Name: proportion, dtype: float64

In [12]:
# BALANCE
print(df_nodup['sentiment'].value_counts(normalize=True))

sentiment
neutral     0.404570
positive    0.312288
negative    0.283141
Name: proportion, dtype: float64

In [67]:
#pulisco
df_nodup['text'] = df_nodup['text'].str.lower()

C:\Users\PC\AppData\Local\Temp\ipykernel_18148\3811832397.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodup['text'] = df_nodup['text'].str.lower()

In [68]:
# elimino i link
df_nodup['text'] = df_nodup['text'].apply(lambda x: re.sub(r'http[s]?://\S+|www\.\S+|\S+\.(com|org|net|gov|edu)\S*', '', str(x)))

C:\Users\PC\AppData\Local\Temp\ipykernel_18148\3859108683.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodup['text'] = df_nodup['text'].apply(lambda x: re.sub(r'http[s]?://\S+|www\.\S+|\S+\.(com|org|net|gov|edu)\S*', '', str(x)))

In [69]:
# elimino gli # e @ e RT
df_nodup['text'] = df_nodup['text'].apply(lambda x: re.sub(r'(?i)\bRT\b|[#@]\S+', '', str(x)))

C:\Users\PC\AppData\Local\Temp\ipykernel_18148\2312952624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodup['text'] = df_nodup['text'].apply(lambda x: re.sub(r'(?i)\bRT\b|[#@]\S+', '', str(x)))

In [70]:
#rimuovo punteggiatura e simboli
import string
df_nodup['text'] = df_nodup['text'].str.replace(f"[{string.punctuation}]", "", regex=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_18148\2012446597.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodup['text'] = df_nodup['text'].str.replace(f"[{string.punctuation}]", "", regex=True)

In [64]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    return ' '.join([word for word in text.split() if word not in stop_words])

df_nodup['text'] = df_nodup['text'].apply(remove_stopwords)

df_nodup

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
C:\Users\PC\AppData\Local\Temp\ipykernel_18148\2284734964.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nodup['text'] = df_nodup['text'].apply(remove_stopwords)

,text,hash_tags,account_tags,sentiment,emotion
0,celebrate progress we‚Äôve made earth day must also recommit work ahead let‚Äôs keep faith continue building sustainable future,NaN,POTUS,POSITIVE,optimism
1,im happy meeting philly city council behalf philly schools kids shouldnt getting poisoned neurotoxin place go learn amp grow lets make sure everyone clean water drink,"EarthDay,GetTheLeadOut",PennEnvironment,POSITIVE,optimism
2,people wishes happy earth day,EarthDay,Khan__sir_patna,POSITIVE,joy
3,biden signs executive order natural capital naturebased solutions first us national nature assessment enable policymakers identify opportunities invest nature achieve climate health social justice amp economic goals,EarthDay,CapsCoalition,POSITIVE,optimism
4,animals source food soil soil dying beautiful birds animals get impacted earth day lets pledge save soil dying,MyconnectwithSoil,"tamannaahspeaks,SadhguruJV,cpsavesoil",POSITIVE,optimism
...,...,...,...,...,...
49992,honourable steven guilbeault minister environment climate change issued statement today mark earth day 2022,NaN,NewsroomGC,POSITIVE,optimism
49994,earth day 2022,NaN,NaN,NEGATIVE,joy
49995,it‚Äôs earth day üåé üå± üêù reminder people trying destroy trans people also actively supporting destruction earth trans part nature mother earth birthed us loved us trans may always love back actions,EarthDay,intransitiveAR,POSITIVE,optimism
49996,took literally offset 100 tonnes co2 behalf aviva traditional pension schemes often include fossil fuels it‚Äôs time clean pensions read blog post capital risk,"EarthDay,investinourplanet",avivaplc,NEGATIVE,optimism
49997,happy earth day üåé,"legalsupplierdiversity,namwolflawfirmmember",BanksLawFirm,POSITIVE,joy

In [1]:
dupli = df_nodup.duplicated().sum()
print(dupli)

NameError: name 'df_nodup' is not defined